@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&family=Russo+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kumar+One+Outline&family=Roboto+Mono:wght@500&family=Russo+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Comfortaa", sans-serif;
}
*::-webkit-scrollbar {
  display: none;
}
body {
  max-width: 1000px;
  margin: 70px auto 0 auto;
}
nav {
  max-width: 1000px;
  background: white;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 5;
  left: 0;
  display: flex;
  flex-direction: column;
  margin: 0 auto 0 auto;
}
nav img {
  display: block;
  height: 60px;
  margin: 0 auto;
}
nav h1 {
  display: block;
  font-size: 20px;
  line-height: 20px;
  margin: 0 auto;
  padding: 5px;
}
#menubtn {
  position: fixed;
  top: 0;
  right: 0;
  font-size: 25px;
  color: rgb(0, 0, 0);
  background: white;
  line-height: 60px;
  height: 90px;
  width: 90px;
  padding: 15px 30px;
  cursor: pointer;
  z-index: 11;
}
#menubox {
  position: fixed;
  z-index: 9;
  top: -333%;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1000px;
  height: calc(100vh - 90px);
  margin: 90px auto 0 auto;
  padding: 50px 0;
  background: rgb(255, 255, 255);
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.5s;
  overflow: scroll;
}
#menubox.open {
  top: 0;
}
#menubox a {
  color: rgb(0, 0, 0);
  background: inherit;

  cursor: pointer;
}
#home-link,
#about-link,
#services-link,
#testimonials-link,
#contact-link,
#gallery-link,
#facebook-link {
  margin: auto;
}
#home-link {
  transition: 1.1s;
}
#home-link.open {
  top: 0;
}
#updates-link {
  transition: 0.9s;
}
#updates-link.open {
  top: 0;
}
#testimonials-link {
  transition: 0.7s;
}
#testimonials-link.open {
  top: 0;
}
#gallery-link {
  transition: 0.5s;
}
#gallery-link.open {
  top: 0;
}
#contact-link {
  transition: 0.5s;
}
#contact-link.open {
  top: 0;
}
#facebook-link {
  transition: 0.5s;
}
#facebook-link.open {
  top: 0;
}
#menubox a:hover {
  color: black;
  background: rgb(219, 250, 247);
  padding: 7px 13px;
  border-radius: 3px;
  transition: 0.7s;
}

#actionbtn {
  height: 55px;
  width: 55px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  box-shadow: 0 0 35px rgba(148, 148, 148, 0.3);
  border-radius: 5px;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
}
#actionbtn::before {
  content: "";
  background-image: conic-gradient(rgb(0, 0, 0), rgb(0, 0, 0), rgb(81, 255, 246));
  height: 300px;
  width: 300px;
  position: absolute;
  bottom: -125px;
  right: -125px;
  animation: rotate 4s infinite linear;
  z-index: -1;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
#actionbtn::after {
  font-family: FontAwesome;
  content: "\f095";
  height: 95%;
  width: 98%;
  position: absolute;
  background-color: #5f9bce;
  top: 3%;
  left: 1%;
  color: rgb(255, 255, 255);
  display: grid;
  place-items: center;
  font-size: 25px;
  letter-spacing: 2px;
  border-radius: 5px;
  cursor: pointer;
  z-index: 5;
}
#to-top-button {
  position: fixed;
  bottom: 10px;
  left: 10px;

  height: 55px;
  width: 55px;

  box-shadow: 0 0 35px rgba(148, 148, 148, 0.3);
  border-radius: 5px;
}
footer {
  background: rgb(236, 251, 255, 0.8);
  height: 160px;
  line-height: 80px;
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 11px;
}
