@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&family=Russo+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kumar+One+Outline&family=Roboto+Mono:wght@500&family=Russo+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Comfortaa", sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  background: #107fe0;
}
#pool-gif {
  max-width: 1200px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 11px;
  background: url(/watergif-compress3.gif) 50% 50% / 100% 100%;
  box-shadow: 0 0 10px 7px rgb(0, 0, 0, 0.6) inset;
}
nav {
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 111111;
  justify-content: center;
  box-shadow: 0 0 5px 5px rgb(0, 0, 0, 0.5);
}
.top-nav {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-nav-logo {
  height: 50px;
  width: 61px;
  margin: 5px auto;
  background: url(/logos/FullColor_TransparentBg_72dpi-111.png) 50% 50% / 70% 70% no-repeat;
}
#menubtn {
  height: 50px;
  width: 50px;
  background: url(/icons/bars-solid.svg) 50% 50% / 50% 50% no-repeat;
}
#menubox {
  position: fixed;
  z-index: 9;
  top: 55px;
  right: -100%;
  z-index: 11111;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1000px;
  height: calc(100vh - 25px);
  margin: 0 auto;
  padding: 50px 0;
  background: rgb(255, 255, 255);
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.5s;
  overflow: auto;
}
#menubox.open {
  right: 0;
}
#menubox a {
  color: rgb(0, 0, 0);
  background: inherit;
  cursor: pointer;
}
#home-link,
#about-link,
#services-link,
#testimonials-link,
#contact-link,
#gallery-link,
#facebook-link {
  margin: auto;
  padding: 11px;
}
#menubox a:hover {
  background: rgb(219, 250, 247);
  padding: 15px 20px;
  border-radius: 5px;
  transition: 0.5s;
}
#actionbtn {
  height: 55px;
  width: 55px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 1111;
  box-shadow: 0 0 35px rgba(148, 148, 148, 0.3);
  border-radius: 5px;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
}
#actionbtn::before {
  content: "";
  background-image: conic-gradient(rgb(0, 0, 0), rgb(0, 0, 0), rgb(81, 255, 246));
  height: 300px;
  width: 300px;
  position: absolute;
  bottom: -125px;
  right: -125px;
  animation: rotate 4s infinite linear;
  z-index: -1;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
#actionbtn::after {
  font-family: FontAwesome;
  content: "\f4ad";
  height: 95%;
  width: 98%;
  position: absolute;
  background-color: #107fe0;
  top: 3%;
  left: 1%;
  color: rgb(255, 255, 255);
  display: grid;
  place-items: center;
  font-size: 30px;

  border-radius: 5px;
  cursor: pointer;
  z-index: 5;
}
#to-top-button {
  position: fixed;
  bottom: 10px;
  left: 10px;
  z-index: 1111;
  height: 55px;
  width: 55px;
  padding: auto;
  color: white;
  background-color: #107fe0;
  font-size: 30px;
  box-shadow: 0 0 35px rgba(148, 148, 148, 0.3);
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  transition: 0.5s;
}
#to-top-button i {
  height: 55px;
  width: 55px;
  line-height: 55px;
}
#main-section {
  max-width: 1200px;
  height: calc(100vh - 87px);
  margin: 87px auto 0 auto;
  padding: 0 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 111;
  text-align: center;
}
footer {
  font-size: 11px;
}
footer p {
  margin: 11px;
  padding: 11px;
  border-radius: 11px;
  background: radial-gradient(rgb(255, 255, 255, 0.9), rgb(135, 206, 235, 0.3));
  box-shadow: 0 5px 5px 3px rgba(0, 0, 0, 0.5);
}
