@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&family=Russo+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kumar+One+Outline&family=Roboto+Mono:wght@500&family=Russo+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgb(255, 255, 255, 0);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: "Comfortaa", sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  background: #107fe0;
}
#pool-gif {
  max-width: 1200px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 11px;
  background: url(/watergif-compress3.gif) 50% 50% / 100% 100%;
  box-shadow: 0 0 10px 7px rgb(0, 0, 0, 0.6) inset;
}
nav {
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 111111;
  justify-content: center;
  box-shadow: 0 0 5px 5px rgb(0, 0, 0, 0.5);
}
.top-nav {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-nav-logo {
  height: 50px;
  width: 61px;
  margin: 5px auto;
  background: url(/logos/FullColor_TransparentBg_72dpi-111.png) 50% 50% / 70% 70% no-repeat;
}
#menu-btn {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.1s ease-in-out;
  border-radius: 5px;
  box-shadow: 0 0 3px 2px rgba(128, 128, 128, 0.1) inset;
}
.menu-btn-burger {
  width: 30px;
  height: 3px;
  border-radius: 2px;
  background: rgb(208, 208, 208);
  transition: all 0.5s ease-in-out;
}
.menu-btn-burger::before,
.menu-btn-burger::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 3px;
  border-radius: 2px;
  background: rgb(220, 220, 220);
  transition: all 0.5s ease-in-out;
}
.menu-btn-burger::before {
  transform: translateY(-7px);
}
.menu-btn-burger::after {
  transform: translateY(7px);
}
/* BUTTON ANIMATION  */
#menu-btn.open .menu-btn-burger {
  /* transform: translateX(-50px); */
  background: transparent;
  box-shadow: none;
}
#menu-btn.open .menu-btn-burger::before {
  transform: rotate(45deg);
}
#menu-btn.open .menu-btn-burger::after {
  transform: rotate(-45deg);
}
#menu-box {
  width: fit-content;
  height: calc(100vh - 55px);
  position: fixed;
  top: 55px;
  right: -100%;
  z-index: 11111;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 44px 11px;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.7s ease-in-out;
  overflow: auto;
  background: rgb(255, 255, 255);
}
#menu-box.open {
  right: 0;
}
.link-btn {
  height: 50px;
  width: fit-content;
  display: flex;
  border-radius: 5px;
  box-shadow: 1px -2px 5px 2px rgb(0, 0, 0, 0.1) inset;
}
#menu-box a {
  height: 100%;
  width: 100%;
  padding: 11px;
  color: black;
  line-height: 33px;
}
#facebook-link {
  width: 50%;
  height: 50px;
  background: url(/icons/facebook-square-brands.svg) 50% 50% / 70% 90% no-repeat;
}
#actionbtn {
  height: 55px;
  width: 55px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 1111;
  box-shadow: 0 0 35px rgba(148, 148, 148, 0.3);
  border-radius: 5px;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 5px 5px 5px rgb(0, 0, 0, 0.3);
}
#actionbtn::before {
  content: "";
  background-image: conic-gradient(rgb(0, 0, 0), rgb(0, 0, 0), rgb(81, 255, 246));
  height: 300px;
  width: 300px;
  position: absolute;
  bottom: -125px;
  right: -125px;
  animation: rotate 4s infinite linear;
  z-index: -1;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
#actionbtn::after {
  font-family: FontAwesome;
  content: "\f4ad";
  height: 95%;
  width: 98%;
  position: absolute;
  background-color: #107fe0;
  box-shadow: 1px -2px 5px 2px rgb(0, 0, 0, 0.5) inset;
  top: 3%;
  left: 1%;
  color: rgb(255, 255, 255);
  display: grid;
  place-items: center;
  font-size: 30px;
  border-radius: 5px;
  cursor: pointer;
  z-index: 5;
}
#to-top-button {
  position: fixed;
  bottom: 10px;
  left: 10px;
  z-index: 1111;
  height: 55px;
  width: 55px;
  padding: auto;
  color: white;
  background-color: #107fe0;
  box-shadow: 1px -2px 5px 2px rgb(0, 0, 0, 0.5) inset;
  font-size: 30px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  transition: 0.5s;
}
#to-top-button i {
  height: 55px;
  width: 55px;
  line-height: 55px;
}
#main-section {
  max-width: 1200px;
  height: calc(100vh - 87px);
  margin: 55px auto 0 auto;
  padding: 0 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 111;
  text-align: center;
}
footer {
  font-size: 11px;
}
footer p {
  margin: 11px;
  padding: 11px;
  border-radius: 11px;
  background: radial-gradient(rgb(255, 255, 255, 0.9), rgb(135, 206, 235, 0.3));
  box-shadow: 0 5px 5px 3px rgba(0, 0, 0, 0.5);
}
