#row1 {
  max-width: 1000px;
}

#row1 img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

#row2 {
  text-align: center;
}
#row2 h1 {
  padding: 60px 15px;
  font-size: 30px;
  color: #107fe0;
}
#row2 p {
    font-size: 17px;
  font-weight: bold;
  line-height: 40px;
  padding: 0 20px;
}
#getquote, #learnmore {
  display: block;
  width: 140px;
  height: 55px;
  line-height: 55px;
  border: 2px solid #5f9bce;
  font-size: 15px;
  color: #5f9bce;
  border-radius: 55px;
  background-color: inherit;
  margin: 20px auto 30px auto;
  }
#about{
  padding: 100px 50px;
  background-color: #e4eef6;
  text-align: center;
  line-height: 40px;
}
#about h1{
  padding: 10px;
  color: #1d71bb;
}
#about p{
  padding-top: 10px;
  color: #2b2d2e;
}

#services{
  text-align: center;
  padding: 110px 0;
}
#services h1, #services p{
  margin: 50px auto;
}
#schedule {
  display: block;
  width: fit-content;
  height: 55px;
  line-height: 55px;
  border: 2px solid #5f9bce;
  font-size: 15px;
  color: #5f9bce;
  border-radius: 55px;
  background-color: inherit;
  margin: 20px auto 30px auto;
  padding: 0 10px;
}
#updates,
#testimonials,
#gallery,
#contact {
  display: flex;
  flex-wrap: wrap;
  font-size: 10px;
}
#updates h1,
#testimonials h1,
#gallery h1,
#contact h1 {
  display: inline-block;
  margin: 10px auto;
  font-size: 20px;
  text-align: center;
  flex: 100%;
}
.flex-box {
  flex: 100%;
  margin: 40px 40px 60px 40px;
}
@media (min-width: 800px) {
  .flex-box {
    flex: 40%;
  }
}
.flex-box img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
.flex-box h2 {
  padding-top: 10px;
  padding-bottom: 5px;
  color: #5f9bce;
}
.flex-box p {
  font-size: 15px;
  line-height: 20px;
  padding: 10px 0;
}
.view-all-button {
  flex: 100%;
  text-align: center;
  margin: 20px auto;
  padding: 10px;
}
.view-all-button a {
  border-bottom: 2px solid #5f9bce;
  border-left: none;
  font-size: 20px;
  color: #5f9bce;
}
.review-more {
  flex: 100%;
  text-align: center;
  margin: 20px auto;
  padding: 10px;
}
.checked {
  color: #fbbc04;
}
.review-more a {
  border-bottom: 2px solid #5f9bce;
  border-left: none;
  font-size: 20px;
  margin: 0 10px;
  color: #5f9bce;
}
#contact img {
  width: 90%;
  margin: 30px auto;
}
#call-now {
  display: block;
  width: fit-content;
  border: 3px solid black;
  font-size: 15px;
  background-color: #5f9bce;
  margin: 20px auto 20px auto;
}

.address-box,
.hours-box {
  flex: 30%;
  margin: 20px auto 50px auto;
}
