#landing {
  display: flex;
  align-items: center;
}
#row1 {
  width: 100%;
}
#row1 h1 {
  height: fit-content;
  margin: 0 auto;
  padding: 60px 11px 33px 11px;
  font-size: 33px;
  font-weight: 900;
  background: linear-gradient(rgb(255, 255, 255, 0), rgb(255, 255, 255, 0.7), rgb(255, 255, 255, 0.9));
  color: #107fe0;
}
#row1 p {
  height: fit-content;
  margin: 0 auto;
  font-size: 17px;
  font-weight: bold;
  line-height: 40px;
  padding: 0 11px 40px 11px;
  background: linear-gradient(rgb(255, 255, 255, 0.9), rgb(255, 255, 255, 0.7), rgb(255, 255, 255, 0));
}
.button-wrapper {
  height: fit-content;
  width: fit-content;
  font-size: 15px;
  border-radius: 55px;
  background-color: white;
  margin: 20px auto 30px auto;
  box-shadow: 0 5px 5px 5px rgb(0, 0, 0, 0.3);
}
.button {
  display: flex;
  align-items: center;
  width: fit-content;
  height: 55px;
  padding: 20px;
  border: 1px solid white;
  border-radius: 55px;
  box-shadow: 0 -5px 5px 2px rgb(0, 0, 0, 0.3) inset;
  color: #107fe0;
}
.phone-button {
  background: url(/icons/phone-solid.svg) 50% 50% / 50% 50% no-repeat white;
}
.open-close-button {
  line-height: 20px;
  text-align: center;
}
#about,
#services,
#testimonials,
#gallery,
#contact {
  margin: 0 auto;
  background: linear-gradient(rgb(255, 255, 255, 0), rgb(255, 255, 255, 0.5), rgb(255, 255, 255, 0.7), rgb(255, 255, 255, 0.5), #107fe0);
}
#about {
  padding: 77px 11px;
  text-align: center;
  line-height: 40px;
}
#about h1 {
  padding: 10px;
  color: #107fe0;
}
#about p {
  padding-top: 10px;
  color: #2b2d2e;
}

#services {
  text-align: center;
  padding: 110px 0;
  background: linear-gradient(rgb(255, 255, 255, 0.7), rgb(255, 255, 255, 0.5), rgb(255, 255, 255, 0.7), rgb(255, 255, 255, 0.5), #107fe0);
}
#services p {
  margin: 40px auto 50px auto;
}
.box-1 {
  height: 200px;
  border: 5px solid #107fe0;
  border-radius: 22px;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.box-2 {
  padding: 50px 20px;
  text-align: left;
  line-height: 40px;
}
.box-2 h1 {
  color: #107fe0;
  font-size: 18px;
  line-height: 30px;
}
#contact-row {
  padding-top: 50px;
}
#contact-row p {
  margin: 0 20px;
  line-height: 33px;
}
.contact-link-row {
  display: flex;
  justify-content: space-around;
}
.contact-link-row i {
  flex: 20%;
  border: 1px solid #107fe0;
  border-radius: 20px;
  height: 55px;
  width: 55px;
  line-height: 55px;
  margin: 20px 0;
  font-size: 30px;
  color: #107fe0;
  cursor: pointer;
  background: white;
  box-shadow: 0 -5px 5px 2px rgb(0, 0, 0, 0.3) inset;
}

#schedule {
  display: block;
  width: fit-content;
  height: 55px;
  line-height: 55px;
  border: 2px solid #107fe0;
  font-size: 15px;
  color: #107fe0;
  border-radius: 55px;
  background-color: inherit;
  margin: 20px auto 30px auto;
  padding: 0 10px;
}

#testimonials,
#gallery,
#contact {
  padding-top: 80px;
  display: flex;
  flex-wrap: wrap;
  font-size: 10px;
}
#about h1,
#services h1,
#testimonials h1,
#gallery h1,
#contact h1 {
  display: inline-block;
  margin: 10px auto;
  font-size: 33px;
  text-align: center;
  flex: 100%;
  color: #107fe0;
  background: radial-gradient(rgb(255, 255, 255, 0.7), rgb(255, 255, 255, 0), rgb(255, 255, 255, 0));
}
.flex-box {
  flex: 100%;
  margin: 40px 40px 60px 40px;
}
@media (min-width: 800px) {
  .flex-box {
    flex: 40%;
  }
}
.flex-box img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
.flex-box h2 {
  padding-top: 10px;
  padding-bottom: 5px;
  color: #5f9bce;
}
.flex-box p {
  font-size: 15px;
  line-height: 20px;
  padding: 10px 0;
}
.view-all-button {
  flex: 100%;
  text-align: center;
  margin: 20px auto;
  padding: 10px;
}
.view-all-button a {
  border-bottom: 2px solid #5f9bce;
  border-left: none;
  font-size: 20px;
  color: #5f9bce;
}
.review-more {
  flex: 100%;
  text-align: center;
  margin: 20px auto;
  padding: 10px;
}
.checked {
  color: #fbbc04;
}
.review-more a {
  border-bottom: 2px solid #5f9bce;
  border-left: none;
  font-size: 20px;
  margin: 0 10px;
  color: #5f9bce;
}
#contact img {
  width: 90%;
  margin: 30px auto;
}
#call-now {
  display: block;
  width: fit-content;
  border: 3px solid black;
  font-size: 15px;
  background-color: #5f9bce;
  margin: 20px auto 20px auto;
}

.address-box,
.hours-box {
  flex: 30%;
  margin: 20px auto 50px auto;
  text-align: center;
}
